// variables
// ---------------------------------------


// Colors
$white: #fff;
$dark: #000;
$blue: #8a9cbf;
$blue-dark: #47525d;
$border-color: #ededed;
$lightest-blue: #f1f8ff;
$gray: #a0aec1;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$pink: #f1227a;
$chart-color: #f1f5f6;
$current-input-border: #6db0f3;
$current-input-bkg: rgba(234, 245, 255, 0.53);

$base-font-color: $blue-dark;
$action-color: $blue;
$header-color: $blue-dark;
$base-border-color: $gray;
$base-border: 1px solid $base-border-color;
$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);


// Sizes
$base-size: 16px;
$base-font-size: $base-size;
$base-line-height: 1.5;
$heading-line-height: 1.2;
$base-border-radius: 6px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

$grid-columns: 12 !default;
$max-width: 1200px !default;
$border-box-sizing: true !default;
$column-size: 6.195%;
$gutter-size: 2.323%;


// Typography
$base-font-family: "Roboto", Helvetica, sans-serif;
$heading-font-family: $base-font-family;


// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);


// Animations
$base-duration: 150ms;
$base-timing: ease;


//Fondos
.light-blue-bg{
	background-color: $blue !important;
}

.white-text{
	color: $white;
}

.light-blue-text{
	color: $blue;
}
.light-blue{
	color: $blue;
}
