@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;

// Neat Breakpoints

$grid-columns: 12 !default;
$max-width: 1200px !default;
$border-box-sizing: true !default;


