.banner{
  background-color: $light-blue;
  padding: 50px 0;
  overflow: hidden;

  .image{
    float: left;
    width: 30%;
  }
  .text{
    float: right;
    width: 60%;
    color: #fff;

    h3 {
      font-size: 28px;
    }

    p {
      font-weight: 300;
      font-size: 18px;
    }

    .button{
      color: $light-blue;
      background-color: $lightest-blue;
      margin: 20px 0;
      padding: 15px 30px;
      border-radius: 20px;
    }
  }
}
.banner-bottom{
  overflow: hidden;
  background-color: #ededed;
  padding: 20px 0;
  .col{
    width: 30%;
    float: left;
    margin-right: 3%;
    text-align: center;
  }
  h3, p{
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
