section.section-feed{
  padding:60px 0;
  overflow: hidden;
  background-color: $lightest-blue;

  h2{
    padding-bottom: 20px;
  }

  .events-wrapper{
    width:48%;
    margin-right: 2%;
    float: left;
  }
  .event{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid $light-blue;
    border-radius: 20px;
  }
  .news-wrapper{
    width:48%;
    margin-left: 2%;
    float: right;
  }
  .new{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid $light-blue;
    border-radius: 20px;
  }
}