footer{
  background-color: #8A9CBF;

  .bottom{
    padding: 40px 0;
    font-size: 14px;
    overflow: hidden;

    h4{
      padding-bottom: 30px;
    }

    .col{
      width:22%;
      margin-right: 4%;
      float: left;
    }
    .col:nth-child(4n+0){
      margin-right: 0;
    }
  }
  .copyright{
    background-color: #47525D;
    padding: 10px 0;
    font-size: 14px;
    overflow: hidden;
    ul{
      float:right;
      li{
        float: right;
        margin-left: 20px;
      }
    }
  }
}