header{
  padding:30px 0px;
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  width: 100%;

  .logo{
    float:left;
    width: 300px;
    margin-left: 40px;

  }
  nav{
    float: right;
    margin-right: 20px;

    ul{
      overflow: hidden;
      li{
        float: left;
        padding-left: 40px;
        font-size: 18px;
        font-weight: 300;
        a{
          color: white;
          text-decoration: none;
          line-height: 40px;
        }
      }
    }
  }
}
