header{
  padding:30px 0px 20px 0;
  color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  background-color: $light-blue;

  .logo{
    float:left;
    width: 300px;
    margin-left: 40px;

  }
  nav{
    float: right;
    margin-right: 20px;

    ul{
      overflow: hidden;
      li{
        float: left;
        padding-left: 40px;
        font-size: 18px;
        font-weight: 300;
        a{
          color: white;
          line-height: 40px;
          &:hover {
            text-decoration: none;
            color: $blue;
          }
        }
      }
    }
  }
}
.index header{
  position: absolute;
  background-color: transparent;
}
