.infromation-granted{

  hgroup{
    padding-top: 50px;
    text-align: center;

    h3{
      color: $light-blue;
      font-size: 18px;
      font-weight: 400;
      padding-top: 10px;
    }
  }

  h4{
    margin-top: 30px;
    text-align: center;
  }

  form{
    padding: 50px 0;
    overflow: hidden;
    .input{
      position: relative;
      input[type=text] {
        padding: 20px 20px 20px 50px;
        border-radius: 8px;
        border: 1px solid $light-blue;
        font-size: 18px;
        font-weight: 300;
        color: $light-blue;
        box-shadow: none;
        width: 58%;
        margin-right: 2%;
        margin-bottom: 0;
        float: left;
        }
        i{
          position: absolute;
          left: 20px;
          top:25px;
          color: $light-blue;
        }
      }
    .select{
      border-radius: 8px;
      border: 1px solid $light-blue;
      font-size: 16px;
      font-weight: 300;
      color: $light-blue;
      box-shadow: none;
      width: 18%;
      float: left;
      background-color: #fff;
      line-height: 60px;
      margin-right: 2%;
      padding: 0 10px;

      select {
        border:none;
        margin: 20px 0;
        background-color: #fff;
        width: 100%;
      }
    }
    ::-webkit-input-placeholder {
      color: $light-blue;
    }
    :-moz-placeholder {
      color: $light-blue;
    }
    ::-moz-placeholder {
      color: $light-blue;
    }
    :-ms-input-placeholder {
      color: $light-blue;
    }
  }
  hr{
    clear: both;
  }

  .numbers{
    overflow: hidden;
    display: table;
    width: 100%;
    padding-bottom: 40px;

    .number{
      display: table-cell;
      width:25%;
      height: 100%;

      .number-content{
        margin: 0 20px;
        border: 1px solid $light-gray;
        border-radius: 8px;
        padding: 30px 10px;
        text-align: center;
        height: 100%;

        h2{
          color: $light-blue;
          font-size: 30px;
          line-height: 34px;
        }
        p{
          font-size: 22px;
          color: $blue;
          font-weight: 300;
          margin-bottom: 0;
        }
        &:hover{
          background-color: $light-blue;
          h2, p{
            color:#fff;
          }
        }
      }
    }
  }

  .stats{
    overflow: hidden;
    padding-bottom: 40px;


    .col{
      width: 50%;
      padding-right: 60px;
      float: left;
      h2{
        margin: 30px 0;
      }
    }
  }
}
