.infromation-granted{
  padding: 0px 0 0px 0;
  overflow: hidden;
  background: rgba(255,255,255,0);

  input[type=text] {
    padding: 15px 20px;
    background-image: url(images/comment-author.gif);
  }

  .wrapper {
    font-family:'arial', sans-serif;
  }

  .solid{
    border: 3px solid $lightest-blue; 
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px !important;
  }

  .match-partent{
    width: 100%;
    text-align: center;
  }

  .column_4{
    width:23%;
    float:left;
    margin:10px;
    text-align: center; 
  }

  .column_2{
    width:50%;
    float:left;
    text-align: center; 
  }

  .row-column{
    width:100%;
  }
    
  .column-double {
    width:60%;
    float:left;
  }
    
  .column-simple {
    width:17%;
    float:left;
  }

  .link_column{
    margin-bottom: 30px;
  }

  .text{
    width: 70%;
    color: #000;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    background: rgba(255,255,255,0);
    background-size: 100%;
    padding:60px 0 40px 0;


    h3 {
      font-size: 30px;
      font-weight: 400;
      padding-bottom: 30px;
      color: #000;
    }

    p {
      font-weight: 100;
      font-size: 22px;
    }

    .button{
      color: $light-blue;
      background-color: $lightest-blue;
      margin: 60px 0;
      padding: 20px 40px;
      border-radius: 30px;
      font-size: 18px;
      font-weight: 400;
      transition: all .5s all;
      &:hover{
        background-color: #F1227A;
        transition: all .5s all;
        color:#fff;
      }
    }
  }
}
