.banner{
  padding: 120px 0 0px 0;
  overflow: hidden;
  background: rgba(152,171,212,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(152,171,212,1) 38%, rgba(136,154,196,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(38%, rgba(152,171,212,1)), color-stop(100%, rgba(136,154,196,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(152,171,212,1) 38%, rgba(136,154,196,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(152,171,212,1) 38%, rgba(136,154,196,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(152,171,212,1) 38%, rgba(136,154,196,1) 100%);
  background: radial-gradient(ellipse at center, rgba(152,171,212,1) 38%, rgba(136,154,196,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98ABD4', endColorstr='#899BC0', GradientType=1 );

  .text{
    color: $white;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    background-image: image-url('mapa-negro.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    padding:120px 0 40px 0;

    a {
      color: $blue;

      &:hover,
      &:focus {
        color: shade($blue, 25%);
      }
    }

    @media (max-width: 640px) { width: 100%; }
    @media (min-width: 641px) { width: 70%; }

    h3 {
      font-size: 30px;
      font-weight: 400;
      padding-bottom: 30px;
      color: $white;
    }

    p {
      font-weight: 100;
      font-size: 26px;
    }

    .button{
      color: $light-blue;
      background-color: $lightest-blue;
      margin: 60px 0;
      padding: 20px 40px;
      border-radius: 50px;
      font-size: 18px;
      font-weight: 400;
      white-space: normal;
      transition: all .5s all;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: #F1227A;
        transition: all .5s all;
        color: $white;
      }
    }
  }
}
.banner-bottom{
  overflow: hidden;
  background-color: $blue;
  padding: 20px 0;
  font-size: 18px;
  .col{
    width: 30%;
    float: left;
    margin-right: 3%;
    text-align: center;
  }
  h3, p{
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  h3{
    color:$light-blue;
    font-size: 18px;
    font-weight: 500;
  }
  p{
    color:#fff;
    font-weight: 300;
  }
}
