.dropbtn {
    background-color: $white;
    color: $blue;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 1000;
    width: 100%;
    min-width: 50%;

}

.dropdown {
    display: inline-block;
    position: inherit;
    z-index: 1000;
    min-width: 80%;
    margin-top: 10px;
    border: 3px solid $blue;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    border: 1px solid $blue;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1000;
    background-color: $white;
    color: $blue;;
}

.dropdown-content a:hover {
    z-index: 1000;
    background-color: $blue;
    color: $white;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: $blue;
    color: $white;
    z-index: 1000;
}

.dropdown:hover .dropbtn {
    background-color: $blue;
    color: $white;
    z-index: 1000;
}

.search{
    border: 3px solid $blue !important;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1000;
}
