section.section-feed {
  padding: 60px 0;
  overflow: hidden;
  background-color: $lightest-blue;

  h2 {
    padding-bottom: 20px;
  }

  h4 {
    color: $blue;
    font-size: 1.46rem;
    font-weight: 300;
    padding-bottom: 0.35rem;
  }
  p {
    color: $blue-dark;
  }
  small {
    color: $medium-gray;
  }
  a.text-button {
    padding-top: 10px;
    float: right;
    display: inline-block;
  }

  .event{
    padding: 20px 140px 10px 20px;
    margin-bottom: 20px;
    border: 1px solid rgba($blue, .3);
    border-radius: 20px;
    position: relative;

    .date{
      background-color: $blue;
      color: $white;
      float: right;
      width: 120px;
      border-radius: 10px;
      padding: 10px;
      position: absolute;
      right: 20px;
      top:20px;
      text-align: center;
      font-weight: 300;
    }
  }
  .new {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba($blue, .3);
    border-radius: 20px;
  }
}
