// form components
// ---------------------------------------

.input-icon-left {
  position: relative;

  input {
    padding-left: 2.8rem;
  }

  i {
    position: absolute;
    left: 1rem;
    top: 1.1rem;
    color: $blue;
  }
}

.inputfile {
  input {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  label {
    @extend button;

    &.big-button {
      @extend .big-button;
    }
  }
}

.radio {
  label {
    display: inline-block;
    padding-left: 1px;
    position: relative;
    cursor: pointer;

    &:before {
      content: "";
      display: inline-block;
      width: 21px;
      height: 21px;
      border: 1px solid $blue;
      border-radius: 50%;
    }

    > input[type='radio'] {
      display: none;

      &:checked + i.radio-icon {
        background-color: $blue;
      }
    }

    > span {
      position: relative;
      top: -4px;
      margin-left: 5px;
    }

    > i.radio-icon {
      position: absolute;
      display: block;
      width: 13px;
      height: 13px;
      top: 4px;
      left: 5px;
      margin: 0;
      background-color: transparent;
      border-radius: 50%;
    }
  }
}
