@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;

// Neat Breakpoints


[class*="-column"] {
  float: left;
}

.container{
  margin: 0 auto;

  //@media (min-width:960px) and (max-width: 1199px){
  //  width: 960px; padding-left:15px; padding-right:15px;
  //}
  //@media (min-width:780px) and (max-width: 959px) {
  //  width: 780px; padding-left:15px; padding-right:15px;
  //}
  //@media (min-width:640px) and (max-width: 779px) {
  //  width: 640px; padding-left:10px; padding-right:10px;
  //}
  //@media (min-width:250px) and (max-width: 639px) {
  //  width: 100%; padding-left:10px; padding-right:10px;
  //}

  @media (min-width: 768px) {
    [class*="-column"] {
      margin-right: $gutter-size;

      &:last-child {
        margin-right: 0;
      }
    }

    .one-column { width: $column-size; }
    .two-columns { width: columnSizer(2); }
    .three-columns { width: columnSizer(3); }
    .four-columns { width: columnSizer(4); }
    .five-columns { width: columnSizer(5); }
    .six-columns { width: columnSizer(6); }
    .seven-columns { width: columnSizer(7); }
    .eight-columns { width: columnSizer(8); }
    .nine-columns { width: columnSizer(9); }
    .ten-columns { width: columnSizer(10); }
    .eleven-columns { width: columnSizer(11); }
    .twelve-columns { width: columnSizer(12); }
  }

  @media (min-width: 1200px) {
    width: $max-width;
  }

  @media (min-width: 900px) and (max-width: 1199px) {
    width: 870px;
  }

  @media (min-width: 768px) and (max-width: 899px) {
    width: 738px;;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    [class*="-column"] {
      margin: 0;
    }
  }
}
