@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;

// Neat Breakpoints

$grid-columns: 12 !default;
$max-width: 1200px !default;
$border-box-sizing: true !default;


.container{
  width: 1200px;
  margin: 0 auto;

  @media (min-width:960px) and (max-width: 1199px){
    width: 960px; padding-left:15px; padding-right:15px;
  }
  @media (min-width:780px) and (max-width: 959px) {
    width: 780px; padding-left:15px; padding-right:15px;
  }
  @media (min-width:640px) and (max-width: 779px) {
    width: 640px; padding-left:10px; padding-right:10px;
  }
  @media (min-width:250px) and (max-width: 639px) {
    width: 100%; padding-left:10px; padding-right:10px;
  }
}
