// -----------------------------------------------
// navigation
// -----------------------------------------------

.navigation {
  z-index: 10;

  margin-bottom: 1.3rem;

  .navigation-header {
    > a {
      display: block;
      width: 70%;
    }

    > .toggle {
      position: absolute;
      top: 1.6rem;
      right: 1rem;
      width: 44px;
      height: 34px;
      padding: 6px;
      cursor: pointer;
      z-index: 15;

      > span {
        display: block;
        width: 100%;
        height: 4px;
        margin-bottom: 5px;
        background-color: $white;

        &:last-child { margin: 0; }
      }
    }
  }

  .navigation-header,
  nav {
    float: left;
  }

  nav {
    > a {
      display: inline-block;
      color: $white;
      font-weight: 300;
      font-size: 18px;

      &:active,
      &:focus,
      &:hover {
        color: $blue-dark;
        text-decoration: none;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  @media screen and (min-width: 697px) {
    .navigation-header {
      width: 40%;

      .toggle {
        display: none;
      }
    }

    nav {
      display: block !important;
      width: 60%;
      text-align: right;

      > a {
        padding: 0.5rem 0.8rem;
      }
    }
  }

  @media screen and (max-width: 696px) {
    .navigation-header {
      width: 100%;

      > .title {
        width: 80%;
      }

      .toggle {
        display: block;
      }
    }

    nav {
      display: none;
      width: 100%;
      text-align: left;

      > a {
        display: block;
        padding: 0.9rem;
      }
    }
  }
}
