#progressbar {
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
  text-align: center;
  margin: 30px auto;
  clear: both;

  svg { width: 82.2%; }
}

  .chart rect:first-of-type {
    color: $chart-color;
    stroke: $chart-color;
    fill: $chart-color;
  }

  text:first-of-type {
    fill: $chart-color;
    font-family: 'Roboto';
  }

  .chart rect:nth-of-type(2) {
    color: $blue;
    stroke: transparent;
    fill: $blue;
  }

  text:nth-of-type(2) {
    fill: $white;
    font-family: 'Roboto';
  }
