section.section-video{
  padding:60px 0;
  text-align: center;
  border-bottom: 1px solid #ededed;

  h4{
    margin-top: 40px;
  }

  ul.tutorials{
    text-align: center;
    margin: 20px 0;
    li{
      display: inline-block;
      margin-right: 15px;
      border-right: 1px solid $blue;
      padding-right: 15px;

      &:last-child{
        border-right: none;
        padding-right: 0;
        margin-right: 0;
      }
    }
  }

  .video{
    max-width: 600px;
    margin: 40px auto;
    .video-wrapper {
      height: 0;
      overflow: hidden;
      padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
      position: relative;

      embed,
      object,
      iframe {
        @include position(absolute, 0 null null 0);
        @include size(100%);
      }
    }
  }
}
