.wrapper
  %header
    .container
      .logo
        =link_to image_tag('logo-blanco.png'), '/'
      %nav
        %ul
          %li= link_to 'Sistemas', '#'
          %li= link_to 'Sujetos obligados', '/informationgranted.html'
          %li= link_to 'Crear solicitud', '#'
