---
title: Plataforma de transparencia
---

.wrapper
  .banner
    .container
      .text
        %h3 ¡Bienvenido a la Plataforma Nacional de Transparencia!
        %p Con esta plataforma podrá socilictar de manera sencilla<br> información pública de tu interés.
        =link_to 'Crear nueva solicitud de información','#', class:'button'
        %br
        =link_to 'Explora el Sistema Nacional de Transparencia','#'
        %br
        = "Encuentra los estados en proceso de integración a la plataforma" 
        =link_to 'aquí','#'
  .banner-bottom
    .container
      .col
        %h3 1,300
        %p Sujetos Obligados participando
      .col
        %h3 3,400
        %p solicitudes concluidas este mes
      .col
        %h3 450
        %p ciudadanos participando

  %section.section-video
    .container
      %h1 Transparencia fácilmente.
      %h3 Nunca antes había sido tan sencillo transparentar información de tu gobierno en México.
      %h4 Tutoriales disponibles:
      %ul.tutorials
        %li
          = link_to '#' do
            Cómo crear una solicitud de información
            %i.fa.fa-question-circle
        %li
          = link_to '#' do
            Cómo presentar una queja
            %i.fa.fa-question-circle
      .video
        .video-wrapper
          %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/I0ynMjIhe9I?showinfo=0&iv_load_policy=3&controls=0"}

  %section.section-feed
    .container
      .events-wrapper
        %h3 Próximos eventos
        .event
          %h4 Jornada de Gobierno Abierto
          %p Nunca antes había sido tan sencillo transparentar información de tu gobierno en México.
          .date 8 de setiembre
        .event
          %h4 Jornada de Gobierno Abierto
          %p Nunca antes había sido tan sencillo transparentar información de tu gobierno en México.
          .date 8 de setiembre
        .event
          %h4 Jornada de Gobierno Abierto
          %p Nunca antes había sido tan sencillo transparentar información de tu gobierno en México.
          .date 8 de setiembre

      .news-wrapper
        %h3 Noticias nacionales
        .new
          %p Evento de lanzamiento de la Ley General de Transparencia por realizarse el próximo 6 de mayo en las oficinas del Instituto.
          %small 11 de mayo 2016
          =link_to "Ver noticia", "#"
        .new
          %p Evento de lanzamiento de la Ley General de Transparencia por realizarse el próximo 6 de mayo en las oficinas del Instituto.
          %small 11 de mayo 2016
          =link_to "Ver noticia", "#"
        .new
          %p Evento de lanzamiento de la Ley General de Transparencia por realizarse el próximo 6 de mayo en las oficinas del Instituto.
          %small 11 de mayo 2016
          =link_to "Ver noticia", "#"
