---
title: Sujetos Obligados
---
= partial 'header_information'

.infromation-granted
  .container
    %hgroup
      %h1=t('informationgranted.title')
      %h3=t('informationgranted.subtitle')

    %form
      .input
        %input{:placeholder => "Busca sujeto por nombre o tipo de información...", :type => "text", :required => true}
        %i.fa.fa-search
      .select
        %select
          %option ¿Dónde?
          %option Lugar1
          %option Lugar1
      .select
        %select
          %option Sector
          %option Sector1
          %option Sector1
  %hr
  .container
    %hgroup
      %h1=t('informationgranted.title_section_two')

    %h4=t('informationgranted.stadistic_title_html')
    #progressbar

    .numbers
      .number
        .number-content
          %h2 2713
          %p=t('informationgranted.kpi_section_1')

      .number
        .number-content
          %h2 4272
          %p=t('informationgranted.kpi_section_2')

      .number
        .number-content
          %h2 2400
          %p=t('informationgranted.kpi_section_3')

      .number
        .number-content
          %h2 4300
          %p=t('informationgranted.kpi_section_4')

  %hr
  .container
    %hgroup
      %h1=t('informationgranted.title_section_tree')
    .stats
      .col
        %h2=t('informationgranted.subtitle_a_section_tree')
        #r1
        #r2
        #r3
        #r4
        #r5
        = link_to "Todos los sectores", "#"
      .col
        %h2=t('informationgranted.subtitle_b_section_tree')
        #r6
        #r7
        #r8
        #r9
        #r10
        = link_to "Todos los estados", "#"
